/******************************************************************************************/
/* MAIN ATTRIBUTES */
/******************************************************************************************/

body {
  margin: 0;
  padding: 0;
  
  font-family: 'Quicksand', sans-serif; /*300-400-500-600*/
  font-size: 14pt;
  line-height: 14pt;

  box-sizing: border-box;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

*:focus { outline: 0 };

.mainContainer {
  width: 100vw;
}

.navigation {
  position: fixed;
  
  width: 100vw;
  height: 5%;

  text-align: right;

  transition: background-color .5s;
}

.navigation-inverse {
  background-color: rgba(62, 42, 85, .85);
}

  .navigation a {
    display: inline-block; /* because position fixed, we can't put margins on inline elements? */
    color: white;
    
    font-size: 85%;
    font-weight: 300;
    text-decoration: none;
    
    padding-bottom: 5px;
    margin-left: 25px;
    padding-top: 15px;
    
    transition: color 0.2s, border 0.2s;
  }
    .navigation a:hover {
      border-bottom: 2px solid #dfad00;
      color: #dfad00;
    }
    .navigation a:last-child {
      margin-right: 75px;
    }


/******************************************************************************************/
/* LANDING PAGE */
/******************************************************************************************/

#LandingPage {
  height: 100vh;
  background-image: url("./images/backgroundLanding.png");
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  
  align-items: center;
  flex-direction: column;
  
  color: white;
}

  /******************************************************************************************/

  .landingPageMainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    width: 60vw;

    margin-top: 125px;
  }

    .quote {
      margin-bottom: 90px;
    }
      .quote h1 {
        text-align: center;

        font-weight: 300;
        font-size: 280%;
        line-height: 135%;

        margin-bottom: 50px;
      }
      .quote h2 {
        text-align: right;
        
        font-weight: 500;
        font-size: 130%;
        
        margin-bottom: 15px;
      }
      .quote h3 {
        text-align: right;
        font-weight: 400;
        font-size: 110%;
      }
      #me {
        color: #441935;
        text-align: center;
        opacity: .35;
        
        font-weight: 600;
        font-size: 900%;
        
        padding: 0;
        margin: 30px 0 60px 0; 
      }

      /******************************************************************************************/

      .landingPageMainContainer button {
        background-color: rgba(62, 42, 85, .4);
        
        border: 1px solid white;
        border-radius: 6px;
        
        color: white;

        padding: 20px 27px;
        font-size: 75%;

        font-weight: 300;
        cursor: pointer;

        transition: background-color 0.3s;
      }

      .landingPageMainContainer button:hover {
        background-color: rgba(56, 31, 87, .6);
      }


/******************************************************************************************/
/* SERVICE PAGE */
/******************************************************************************************/

#ServicePage {
  width: 100vw;
  height: 100vh;
  background-image: url("./images/backgroundService.png");
  background-repeat: repeat;
}


/******************************************************************************************/
/* KNOWLEDGE PAGE */
/******************************************************************************************/

#KnowledgePage {
  width: 100vw;
  height: 100vh;
  background-image: url('./images/backgroundKnowledge.png');
  background-repeat: no-repeat;
  background-size: cover;
}

/******************************************************************************************/
/* PORTFOLIO PAGE */
/******************************************************************************************/

#PortfolioPage {
  width: 100vw;
  height: 100vh;
  background-color: green;
}


/******************************************************************************************/
/* CONTACT PAGE */
/******************************************************************************************/

#ContactPage {
  width: 100vw;
  height: 100vh;
  background-color: red;
}
