#ContactPage {
  clip-path: polygon(0 20vh, 100vw 0, 100vw 100vh, 0 100vh);

   position: relative;

  h2 {
    text-align: center;
    margin: 0;
    color: $color-main;
    font-size: $font-size-regular;
    font-weight: $font-bold;
    padding-top: 20rem;
  }

  p {
    font-size: $font-size-small;
  }

  video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100vw;
    opacity: .15;

    source {
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}