#KnowledgePage {
  display: grid;
  grid-template-rows: min-content min-content;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 35rem));
  justify-content: center;
  align-items: start;
  grid-column-gap: 2.5rem;
  
  background-image: url('../images/backgroundKnowledge.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;

  color: $color-purewhite;

  .textTitle {
    grid-row: 1 / 2;
    grid-column: 1 / -1;

    &::after {
      background-color: $color-purewhite;
    }
  }

  .subTitle {
    grid-row: 2 / 3;
    grid-column: 1 / -1;

    margin-bottom: 7rem;

    font-size: $font-size-medium;
    font-weight: $font-bold;
  }

  .knowledgecontainer__branch {
    margin-bottom: 4.5rem;
    
    h3 {
      font-size: $font-size-regular;
      font-weight: $font-regular;
      margin-bottom: 3rem;
    }

    ul {
      list-style: none;

      li {
        font-weight: $font-thin;
        font-size: $font-size-small;
        margin-bottom: 1.5rem;
      }
    }
  }
}

@media screen and (max-width: 735px) {
  #KnowledgePage {
    grid-template-columns: 1fr;
  }

  .subTitle {
    justify-self: center;
  }

  .knowledgecontainer__branch {
    margin: 0 3rem 3rem 3rem;
  }
}

@media screen and (max-width: 440px) { 
  .subTitle {
    display: none;
  }

  .knowledgecontainer__branch {
    text-align: center;
  }
}