.navBar {
  position: fixed;
  z-index: 20;
  
  width: 100vw;

  background-color: $color-main;
  
  display: grid;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: 5rem;
  justify-content: space-between;
  align-items: center;

  .navLogo {
    grid-column: 1 / 2;
    margin-left: 1.5rem;

    font-size: $font-lp-size-large;
    font-weight: $font-heavy;
    color: $color-purewhite;
  }

  .navItems {
    grid-column: 2 / 3;
    margin-right: 6rem;
  }

  a {
     color: $color-purewhite;
    
     font-size: $font-size-tiny;
     font-weight: $font-regular;
     text-decoration: none;
    
    &:not(:last-child) {
      margin-right: 2rem;
    }
    
     transition: all $transition-fast;

    &:hover {
       border-bottom: .2rem solid $color-link;
       color: $color-link;
    }
  }
}