#ServicePage {
  background-image: url("../images/backgroundService.png");
  background-repeat: repeat;
  padding-bottom: 10%;

  color: $color-main;

  .serviceContainer {
    display: flex;
    align-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;

    width: 85vw;
    margin: 0 auto;

    .serviceContainer__service {
      width: 46%;

      &:first-child {
        margin-right: 4%;
      }

      h2 {
        font-size: $font-size-regular;
        font-weight: $font-bold;
        margin-bottom: 2rem;
      }

      p {
        font-size: $font-size-small;
        font-weight: $font-regular;
        line-height: 1.7;
      
        &:not(:last-child) {
          margin-bottom: 1.65rem;
        }

        span {
          font-weight: $font-bold;
        }
      }
    }
  }
}

//media 1200 - 900 ok!


@media screen and (max-width: 785px) {
  #ServicePage {
    .serviceContainer {
      width: $size-width-phone;

      .serviceContainer__service {
        width: 100%;
        margin-bottom: 6rem;

        &:first-child {
          margin-right: 0;
        }
      }
    }
  }
}