* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  &:focus { outline: 0 };
}

html {
  font-size: 62.5%;
  font-family: 'Lato', sans-serif; /*100,300,400,700,900*/  
}

section {
  min-height: 100vh;
  height: fit-content;
}

#reactContainer {
  overflow: hidden;
}

.mainContainer {
  width: 100vw;
}

@media screen and (max-width: 1200px) {
  html {font-size: 55%;}  
}

@media screen and (max-width: 900px) {
  html {font-size: 51%;}
}

@media screen and (max-width: 900px) {
  html {font-size: 45%;}
}