//FONTS
$font-thin: 100;
$font-regular: 300;
$font-bold: 400;
$font-heavy: 700;
$font-fat: 900;

//Landing page sizes
$font-lp-size-tiny: 1.4rem;
$font-lp-size-small: 1.8rem;
$font-lp-size-regular: 2rem;
$font-lp-size-large: 2.4rem;
$font-lp-size-xxlarge: 5rem;

//Text size
$font-size-tiny: 1.4rem;
$font-size-xsmall: 1.75rem;
$font-size-small: 2rem;
$font-size-regular: 2.4rem;
$font-size-medium: 2.8rem;
$font-size-large: 4.5rem;

//$font-size-xlarge: 3.5rem;
//$font-size-xxlarge: 6.5rem;


//TRANSITION SPEED
$transition-fast: .2s;
$transition-medium: .5s;
$transition-slow: .7s;


//COLORS
$color-purewhite: #fff;
$color-pureblack: #000;

$color-main: rgb(72, 34, 88);
$color-main-accent: rgb(42, 20, 51);

$color-logo: #441935;
$color-divider: rgb(58, 58, 58);
$color-link: #dfad00;

$color-button: rgba($color-main, .4);
$color-button-hover: rgba($color-main-accent, .6);


//MEDIA QUERY SIZING 
$size-width-tablet: 85vw;
$size-width-tabletportrait: 95vw;
$size-width-phone: 70vw;


